/* CSS for Client Welcome Page */

.client-welcome-content {
  --input-padding: 10px;
  --input-margin: 10px;
  --input-width: 200px;
  --input-height: 35px;
  --container-background: rgb(254, 254, 254);
  --input-border-color: rgba(168, 176, 208, 0.3);
  --dark-blue: #333266;
  --soft-skill-color: #ef6364;
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 252);
}

.client-welcome-body-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1200px;
  flex-direction: row;
  margin: auto;
  padding: 50px 0px 0px 0px;
}

/* ------ LEFT BLOCK ------- */
.client-welcome-leftBlock {
  width: 49%;
  overflow: scroll;
}

/* LEFT BLOCK - TITLE */
.client-welcome-leftBlock-title {
  font-size: 40px;
  font-family: var(--title-font);
  color: #333366;
  margin-bottom: 25px;
}

/* LEFT BLOCK - TALENT BLOCK */
.client-welcome-leftBlock-talentBlock {
  background-color: var(--container-background);
  box-shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  padding: 15px;
}

/* LEFT BLOCK - TALENT BLOCK - TITLE */
.client-welcome-leftBlock-talentBlock-title {
  color: var(--dark-blue);
  font-size: 29px;
  margin-bottom: 20px;
}
/* LEFT BLOCK - TALENT BLOCK - SEARCHLINE */
.client-welcome-leftBlock-talentBlock-searchLine {
  margin-bottom: 20px;
}

.client-welcome-leftBlock-talentBlock-searchLine-searchBlock {
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  width: 300px;
  height: var(--input-height);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.client-welcome-leftBlock-talentBlock-searchLine-searchBlock > input {
  padding: 5px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  margin: 0;
  width: 200px;
}
/* LEFT BLOCK - TALENT BLOCK - LIST */
.client-welcome-leftBlock-talentBlock-list {
  display: flex;
  flex-direction: column;
}

.client-welcome-leftBlock-talentBlock-list-title-interestedBy {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.client-welcome-leftBlock-talentBlock-list-talent-checkBox {
  min-width: 30px;
  display: flex;
  align-items: center;
}

.client-welcome-leftBlock-talentBlock-list-talent-name {
  min-width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.client-welcome-leftBlock-talentBlock-list-talent-name-text {
  flex-wrap: wrap;
}
.client-welcome-leftBlock-talentBlock-list-talent-actualTitle {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.client-welcome-leftBlock-talentBlock-list-talent-actualCompany {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.client-welcome-leftBlock-talentBlock-list-talent-interestedBy {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LEFT BLOCK - TALENT BLOCK - LIST - TITLE */
.client-welcome-leftBlock-talentBlock-list-title > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #6e78ad;
  background-color: var(--container-background);
  transition: background-color 0.5s;
}

.client-welcome-leftBlock-talentBlock-list-title > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;

  padding: 0;
}

/* LEFT BLOCK - TALENT BLOCK - LIST - TALENT */
.client-welcome-leftBlock-talentBlock-list-talent {
  display: flex;
  flex-direction: column;
}

/* LEFT BLOCK - TALENT BLOCK - LIST - TALENT - TALENTILNE  */
.client-welcome-leftBlock-talentBlock-list-talent > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 10px 0px;
  border-bottom: solid 1px var(--placeholder-grey);
  background-color: var(--container-background);
  transition: background-color 0.5s;
}
.client-welcome-leftBlock-talentBlock-list-talent > ul:hover {
  background-color: #fafafc;
}

/* LEFT BLOCK - TALENT BLOCK - LIST - TALENT -TALENTLINE - ELEMENT */
.client-welcome-leftBlock-talentBlock-list-talent > ul > li {
  margin: 0;
  padding: 0;
}

/* Chosen Box */
.client-welcome-leftblock-box-checked {
  height: 12px;
  width: 12px;
  background-color: #333366;
  border: 2px solid var(--input-border-color);
  border-radius: 3px;
}

.client-welcome-leftblock-box-unChecked {
  height: 12px;
  width: 12px;
  background-color: var(--container-background);
  border: 2px solid var(--input-border-color);
  border-radius: 3px;
}

/* Status dot color */
.client-welcome-statut1 {
  height: 14px;
  width: 14px;
  background-color: #9eba83;
  border-radius: 50%;
  margin-right: 10px;
}
.client-welcome-statut2 {
  height: 14px;
  width: 14px;
  background-color: #f2e9a7;
  border-radius: 50%;
  margin-right: 10px;
}

.client-welcome-statut3 {
  height: 14px;
  width: 14px;
  background-color: #ff9d9d;
  border-radius: 50%;
  margin-right: 10px;
}

.client-welcome-statut4 {
  height: 14px;
  width: 14px;
  background-color: #6a6a8f;
  border-radius: 50%;
  margin-right: 10px;
}

/* ------ RIGHT BLOCK ------- */
.client-welcome-rightBlock {
  width: 49%;
  box-shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  background-color: var(--container-background);
}

/* RIGHT BLOCK - ONGLET */
.client-welcome-rightBlock-onglet {
  background-color: rgb(250, 250, 252);
}

/* RIGHT BLOCK - HEADER */
.client-welcome-rightBlock-header {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

/* RIGHT BLOCK - HEADER - LEFT BLOCK*/
.client-welcome-rightBlock-header-left {
  display: flex;
  flex-direction: row;
}

.client-welcome-rightBlock-header-left-picture-block {
  overflow: hidden;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.client-welcome-rightBlock-header-left-picture-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  height: 100px;
  max-width: 100px;
}

.client-welcome-rightBlock-header-left-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.client-welcome-rightBlock-header-left-comments-linkedin {
  color: #6e78ad;
  font-size: 13px;
  margin-left: 10px;
}

.client-welcome-rightBlock-header-left-comments-name {
  color: #31313c;
  font-weight: 500;
}

.client-welcome-rightBlock-header-left-comments-features {
  color: #6e78ad;
  font-size: 13px;
}

/* RIGHT BLOCK - HEADER - RIGHT BLOCK*/
.client-welcome-rightBlock-header-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* RIGHT BLOCK - HEADER - RIGHT BLOCK - ARROWs */
.client-welcome-rightBlock-header-right-arrows {
  display: flex;
  flex-direction: row;
}

.client-welcome-rightBlock-header-right-arrows-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--container-background);
  margin-right: 20px;
}

.client-welcome-rightBlock-header-right-arrows-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--container-background);
}

/* RIGHT BLOCK - HEADER - RIGHT BLOCK - CONTACT */
.client-welcome-rightBlock-header-right-contact-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.client-welcome-rightBlock-header-right-contact-button {
  color: var(--container-background);
  background-color: var(--dark-blue);
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.arrow-upTest {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: 15px;

  border-bottom: 10px solid var(--dark-blue);
}
.test-notDisplay {
  width: 300px;
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
}

.test-display {
  width: 300px;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 80px;
  right: 0px;
}

.textTest {
  background-color: var(--dark-blue);
  color: var(--container-background);
  font-size: 12px;
  padding: 5px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 5px;
}

/* RIGHT BLOCK - DESCRIPTION ELEMENT - TITLE */
.client-welcome-rightBlock-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
/* RIGHT BLOCK - DESCRIPTION ELEMENT - TEXT */
.client-welcome-rightBlock-text {
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  margin: 5px 0 20px 0px;
  padding: var(--input-padding);
  padding: 10px;
  max-height: 80px;
  overflow: scroll;
  font-size: 12px;
  color: #31313c;
}
/* RIGHT BLOCK - IDEALCOMPANY */
.client-welcome-rightBlock-idealCompany {
  padding: 0px 15px;
}
/* RIGHT BLOCK - IDEALROLE */
.client-welcome-rightBlock-idealRole {
  padding: 0px 15px;
}
/* RIGHT BLOCK - WORKING ENVIRONMENT */
.client-welcome-rightBlock-workingEnvironment {
  padding: 0px 15px;
}
/* RIGHT BLOCK - DEVELOPMENT */
.client-welcome-rightBlock-development {
  padding: 0px 15px;
}
/* RIGHT BLOCK - SKILLS */
.client-welcome-rightBlock-skills {
  padding: 0px 15px;
}

/* RIGHT BLOCK - SKILLS - TAG DISPLAY */
.client-welcome-rightBlock-tagBlock {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 5px 0 20px 0px;
  width: 60%;
  flex-wrap: wrap;
  font-size: 12px;
}
.client-welcome-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 10px 7px 0px;
  overflow: hidden;
  color: white;
}

.client-welcome-tag-name {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 25px;
  padding: 0 10px;
  color: white;
  font-weight: 500;
  border-radius: 3px;
}
