.tools-search {
  --input-height: 35px;
  --input-border-color: rgba(168, 176, 208, 0.3);

  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  width: 400px;
  height: var(--input-height);
  margin-right: 10px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.tools-search-input {
  padding: 5px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 16px;
}

.fas {
  margin: 0 10px;
}
