.talentList-right-block-line {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px lightgray solid;
}

.talentList-right-block-name {
  flex: 3;
}

.talentList-right-block-actualTitle {
  flex: 3;
}

.talentList-right-block-actualCompany {
  flex: 3;
}

.talentList-right-block-wantedTitle {
  flex: 2;
}

.talentList-right-block-validated {
  flex: 1;
}

.talentList-right-block-status {
  flex: 1;
}

.talentList-right-block-lastUpdate {
  flex: 2;
}

.deleteBox {
  height: 22px;
  width: 22px;
  background-color: white;
  border: 2px solid white;
  margin-right: 20px;
}

.deleteCheck {
  background-color: red;
  border: 2px solid grey;
}

.deleteUncheck {
  background-color: lightblue;
  border: 2px solid grey;
}
