.talentList-right-block-title {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 2px gray solid;
}

.talentList-right-block-name {
  flex: 3;
}

.talentList-right-block-actualTitle {
  flex: 3;
}

.talentList-right-block-actualCompany {
  flex: 3;
}

.talentList-right-block-wantedTitle-title {
  flex: 2;
}

.talentList-right-block-validated {
  flex: 1;
}

.talentList-right-block-status {
  flex: 1;
}

.talentList-right-block-lastUpdate {
  flex: 2;
}

.fas:hover {
  cursor: pointer;
}

.chevron-filter {
  background-color: white;
  min-height: 200px;
  width: 200px;
  position: absolute;
  z-index: 2;
  border: 2px solid lightgray;
  top: 200px;
}

.filter-line {
  display: flex;
  margin-bottom: 10px;
}
