.forgotten-password-container {
  --input-padding: 10px;
  --input-margin: 10px;
  --input-width: 200px;
  --input-height: 35px;
  --container-background: rgb(254, 254, 254);
  --input-border-color: rgba(168, 176, 208, 0.3);
  --dark-blue: #333266;
  --soft-skill-color: #ef6364;
  /* width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotten-password-input-container {
  display: flex;
  flex-direction: column;
  overflow: wrap;
  width: 270px;
  background-color: var(--container-background);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  margin-top: 100px;
}

.forgotten-password-input-container img {
  width: 270px;
  height: 50px;
  object-fit: auto;
  margin-top: 0;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  top: -20px;
  border-bottom: 1px solid var(--placeholder-grey);
}

.forgotten-password-input-container input {
  height: var(--input-height);
  width: 250px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 0 var(--input-padding);
  margin: var(--input-margin) 0;
  outline: none;
  font-size: 14px;
  color: #31313c;
  margin-top: 20px;
}

.forgotten-password-input-container .forgotten-password-error {
  border-color: var(--soft-skill-color);
}

.forgotten-password-error-message {
  color: var(--soft-skill-color);
}

.forgotten-password-validate {
  text-align: center;
  color: var(--container-background);
  background-color: var(--dark-blue);
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

/* .forgotten-password-cancel {
    border: 1px solid var(--placeholder-grey);
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .forgotten-password-cancel,
  .forgotten-password-validate {
   
  }
   */
