.admin-changes-container {
  --margin-left: 15px;
  --center-body: 1200px;
  --input-border-color: rgba(168, 176, 208, 0.3);
  --input-height: 35px;
  --background-color: rgb(250, 250, 252);
  --container-background: rgb(254, 254, 254);
  --placeholder-grey: #a8b0d0;
  --shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  --medium-box-width: 125px;
  --small-box-width: 85px;
  --dark-blue: #333266;
  --soft-skill-color: #ef6364;
  display: flex;
  background-color: var(--background-color);
  width: 1200px;
  margin: 50px auto;
  justify-content: space-evenly;
}

.fas {
  margin: 0;
}

.admin-changes-left-container {
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--container-background);
  height: 187px;
  margin-right: 20px;
}

.admin-changes-button {
  height: var(--input-height);
  background-color: var(--dark-blue);
  color: white;
  width: 150px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}

.admin-changes-right-container {
  /*  width: 800px; */
  max-height: 550px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--container-background);
  display: flex;
  padding: 5px;
  /*   justify-content: space-around; */
}

.admin-changes-items-list {
  max-height: 530px;
  overflow: scroll;
  margin: 20px;
}

.admin-changes-items-to-change {
  display: flex;
  width: 200px;
  align-items: center;
  margin-bottom: 5px;
}

.admin-changes-item-name {
  margin: 0 10px;
  width: 150px;
  height: var(--input-height);
  outline: "none";
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin-changes-item-name:hover {
  background-color: var(--background-color);
}

.admin-changes-check-box {
  cursor: pointer;
}

.admin-changes-modification-container {
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.admin-changes-button-container {
  display: flex;
  margin-top: 80px;
}

.admin-changes-modification-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  margin: 20px 20px;
  cursor: pointer;
  background-color: var(--soft-skill-color);
  border-radius: 3px;
  color: white;
}

.admin-changes-input-title {
  margin: 10px 0;
}

.admin-changes-input {
  display: block;
  font-weight: 400;
  height: 30px;
  border: 1px solid var(--input-border-color);
  font-size: 14px;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.admin-changes-type-change {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 400;
  height: 30px;
  border: 1px solid var(--input-border-color);
  font-size: 14px;
  border-radius: 4px;
  padding: 0 10px;
  width: 147px;
  cursor: pointer;
}

.admin-changes-type-list {
  position: absolute;
  border: 1px solid var(--input-border-color);
}

/* ******* */

/* Display of the tags */

.selector {
  width: 10px;
  height: 10px;
  border: solid 1px var(--input-border-color);
  cursor: pointer;
}

.tag-modification-container {
  display: flex;
  flex-direction: column;
}
/* diplay to modify tag name and type */

.input-to-modify-tag {
  width: 300px;
  margin-top: 20px;
  display: flex;
}

.input-to-modify-tag-type {
  display: flex;
  flex-direction: column;
}

.input-tag-type-to-modify {
  border: solid 1px var(--input-border-color);
  outline: none;
  height: var(--input-height);
  margin-bottom: 10px;
}

.type-display-soft {
  background-color: var(--soft-skill-color);
  color: white;
  margin-top: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.type-display-hard {
  background-color: var(--dark-blue);
  color: white;
  margin-top: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Display to add elements */
.add-element {
  display: flex;
  flex-direction: column;
}

.add-element-button {
  margin: 20px 20px 0 0;
  height: 40px;
  width: 150px;
  border: solid 1px var(--input-border-color);
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: var(--shadow);
}
