/* HEADER */

.header-container {
  height: 30px;
  display: flex;
  padding: 0px 15px;
  align-items: center;
  border-bottom: 2px solid black;
}

.header-element {
  margin-right: 10px;
}

.header-element:hover {
  cursor: pointer;
}
