/* Variable for speacial title font */
html {
  --title-font: "Playfair Display", serif;
  --placeholder-grey: #a8b0d0;
  font-size: 14px;
}

/* Font-family "Montserrat" put in first font-family (used everywhere except special title) */
/* Font-size put to 14px for "body text", most used, color to #31313C for all text except title*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif, "Playfair Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333266;
  font-size: 14px;
  background-color: #fafafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/********* GENERAL ********/

::placeholder {
  font-size: 14px;
  color: var(--placeholder-grey);
  opacity: 1;
}

/********* BLOCKS ********/

/* CONTAINER */
.container {
  max-width: 1550px;
  height: 95vh;
  margin: auto;
}

/********** FONTS ********/

/* Special Title */
.specialTitle {
  font-family: var(--title-font);
  font-size: 60px;
  color: #333366;
}

/* CTA */
.CTA {
  font-size: 30px;
  color: #333366;
  font-weight: medium;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}
