/* Variable for speacial title font */
html {
  --title-font: "Playfair Display", serif;
}

/* Font-family "Montserrat" put in first font-family (used everywhere except special title) */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.specialTitle {
  font-family: var(--title-font);
  font-size: 60px;
}
