/* HEADER CLIENT LIST */
.headerTab {
  display: flex;
  border: grey;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}
.headerTab li {
  list-style-type: none;
  cursor: pointer;
  margin-right: 2.4rem;
}
/* title  page : Clients & view  */

.titlePage {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.titlePage p {
  margin: 0;
}

/* Search bar & button */
.boxSearchBarAndButton {
  margin: 15px;
}

.searchbar {
  width: 350;
}

/* Clientlist array box */
.clientListBox {
  max-width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-direction: start;
  /* permet de visualiser la div */
  /* border: red;
  border-style: dotted; */
}

/* clientArrayEntries* (note, entreprise, secteur, taille ect/ */

.clientArrayEntries {
  display: flex;
  border: grey;
  border-style: dotted;
  justify-content: center;
  align-items: center;
}
.clientArrayEntries ul {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientArrayEntries li {
  text-indent: 0;
  list-style-type: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 38px;
  /* border: green;
  border-style: dotted; */
}
/* clientList array item*/

/* box fulllength */
.clientListItemContainer {
  display: flex;
  flex-direction: column;
  /* border-width: 1px;
  border: grey;
  border-style: dotted; */
}

.clientListItem {
  list-style-type: none;
  display: flex;

  /* border: red;
  border-style: dotted; */
}

.clientListItem li {
  display: flex;

  /* justify-content: center;
  align-items: center; */
  width: 160px;
  height: 38px;
  justify-content: center;

  /* border: green;
  border-style: dotted; */
}

.columnNote {
  display: flex;
  align-items: center;

  margin-right: 5px;
  margin-left: 5px;
}
.deleteBox {
  color: red;
  display: flex;
}
.deleButton {
  width: 100px;
}
.deleteAll {
  width: 15px;
  height: 15px;
  background: blue;
}
