.content {
  --margin-left: 15px;
  --center-body: 1200px;
  --input-border-color: rgba(168, 176, 208, 0.3);
  --input-height: 35px;
  width: 100vw;
  height: 100vh;
  --background-color: rgb(250, 250, 252);
  --container-background: rgb(254, 254, 254);
  --placeholder-grey: #a8b0d0;
  --shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
}

input {
  outline: none;
}
.header-of-page {
  width: var(--center-body);
  margin: auto;
  background-color: var(--background-color);
}

.frame {
  width: var(--center-body);
  margin: auto;
  background-color: var(--container-background);
  border-radius: 2px;
  box-shadow: var(--shadow);
}

/* title  page : Clients & view  */

.titlePage {
  width: var(--center-body);
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: var(--title-font);
  color: #333366;
}

.number-of-clients {
  font-family: "Montserrat";
  font-size: 20px;
}
.titlePage p {
  margin: 0 0 15px 0;
}

/* Search bar & button */
.boxSearchBarAndButton {
  padding: 15px;
  background-color: var(--container-background);
}

.all-searchbar {
  display: flex;
}

.research {
  display: flex;
  border: solid 1px var(--input-border-color);
  border-radius: 5px;
  height: var(--input-height);
  margin: 0px;
  width: 400px;
  margin-right: 30px;
  align-items: center;
}
.research input {
  margin: 0px;
}

.loupe {
  margin: 0 15px;
}

.searchbar {
  height: var(--input-height);
  width: 400px;
  border: none;
}

.all-button-add-client {
  display: flex;
  align-items: center;
  background-color: #333366;
  border-radius: 5px;
  width: 200px;
  height: var(--input-height);
}

.all-button-add-client div {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

/* Text color */
.addClientButton {
  color: white;
  font-size: 16px;
  background-color: #333366;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Clientlist array box */

/* clientArrayEntries* (note, entreprise, secteur, taille ect/ */

.clientArrayEntries {
  display: flex;
  border-bottom: solid 1px #6e78ad;
  margin: 0 var(--margin-left);
  justify-content: space-between;
  padding-left: 0;
  cursor: pointer;
}

.button-and-note {
  display: flex;
  align-items: center;
}
.deleteOne {
  width: 24px;
  height: 24px;
  border: solid 1px #a8b0d0;
  border-radius: 2px;
  margin: 0 20px 0 0;
}

.deleteAll {
  width: 24px;
  height: 24px;
  border: solid 1px var(--background-color);
  border-radius: 2px;
  margin: 0 20px 0 0;
}

.clientArrayEntries li {
  list-style-type: none;
  width: 160px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientArrayEntries span {
  margin-left: 10px;
  color: #a8b0d0;
}

/* clientList array item*/

/* .hover-clientList-right-block {
  /* display: flex; */
.hover-clientList-right-block {
  text-decoration: none;
  color: #333366;
}
.hover-clientList-right-block:hover {
  /* background: #3a87be; */
  /* background: #687ec779; */

  background: #fafafc;
}

/* box fulllength */

.clientListItem {
  list-style-type: none;
  display: flex;
  border-bottom: solid 1px var(--placeholder-grey);
  margin: 0 var(--margin-left);
  justify-content: space-between;
  padding-left: 0;
  cursor: pointer;
}

.clientListItem li {
  list-style-type: none;
  width: 160px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}

.clientListItem a {
  text-decoration: none;
  color: #31313c;
}

.clientArrayEntries li {
  position: relative;
}

.clientList-chevronBox {
  z-index: 1;
  max-width: 200px;
  padding: 5px 10px;
  position: absolute;
  top: 35px;
  border: 2px solid var(--input-border-color);
  background-color: var(--container-background);
}

.clientList-chevronBox-element {
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow: scroll;
}

/* .testChecked {
  background-color: red;
}

.testUnchecked {
  background-color: blue;
} */

.deleteCheck {
  height: 14px;
  width: 14px;
  background-color: #333366;
  border: 2px solid var(--input-border-color);
  border-radius: 3px;
  margin-right: 20px;
}

.deleteUncheck {
  height: 14px;
  width: 14px;
  background-color: var(--container-background);
  border: 2px solid var(--input-border-color);
  border-radius: 3px;
  margin-right: 20px;
}

.clientList-titleSorted {
  font-weight: 600;
  cursor: pointer;
}

.fa-sort {
  color: #a8afcf;
}
